/* Toolbar negro y letras blancas */
.custom-toolbar {
  background-color: #000000;
  color: white;
  display: flex;
  gap: 1rem;
}

/* Botones normales */
button.mat-button {
  color: white;
  font-weight: 500;
}

/* Hover */
button.mat-button:hover {
  background-color: #333333;
}

/* Item activo */
button.mat-button.active-link {
  background-color: #4caf50;
  color: white;
}

/* Dropdown menu */
.custom-menu {
  background-color: #000000;
  color: white;
}

/* Items dentro de dropdown */
.custom-menu .mat-menu-item {
  color: white;
}

/* Hover de los items dentro del dropdown */
.custom-menu .mat-menu-item:hover {
  background-color: #333333;
}